﻿@model magasin.DAL.Profil

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>KeramikBoutik</h1>
    <p>
        Bonjour @Model.Prenom @Model.Nom
        <br />
        Bienvenue sur notre magasin de vente de céramiques online!
    </p>
</div>
@{
    Html.RenderPartial("~/Views/Shared/_Test.cshtml");
}