﻿@model magasin.DAL.Object

@{
    ViewBag.Title = "AfficherUnObjet";
}

<h2>AfficherUnObjet</h2>

<div>
    <h4>Object</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdObjet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdObjet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Photo)*@
            <img src="~/@Model.Photo" alt="pas photo" height="100" width="100" />

        </dd>
       
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditObjet")  |
    @Html.ActionLink("Back to List", "AfficherObjet")
</p>
