﻿@model IEnumerable<magasin.DAL.Object>

<p>
    @Html.ActionLink("retour shopping", "AfficherObjet")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdObjet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdObjet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Photo)*@
            <img src="~/@item.Photo" alt="pas photo" height="100" width="100" />
        </td>
        <td>
            
            @Html.ActionLink("Details", "AfficherUnObjet", new { id = item.IdObjet }, null) |
            @Html.ActionLink("Delete", "DeleteObjet", new { id = item.IdObjet })
        </td>
    </tr>
}

</table>
