﻿@model IEnumerable<magasin.DAL.Object>



@{
    ViewBag.Title = "AfficherObjet";
}

<h2>AfficherObjet</h2>

<p>
    @Html.ActionLink("Create New", "CreerObjetPHOTO")
</p>
<p>
    @Html.ActionLink("Voir panier", "afficherPannier")
</p>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdObjet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdObjet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prix)
                </td>
                <td>


                    @*@Html.DisplayFor(modelItem => item.Photo)*@

                    <img src="~/@item.Photo" alt="pas photo" height="100" width="100"/>
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditObjet", new { id = item.IdObjet }, null) |
                    @Html.ActionLink("Details", "AfficherUnObjet", new { id = item.IdObjet }, null) |
                    @Html.ActionLink("Delete", "DeleteObjet", new { id = item.IdObjet })
                    <button data-id="@item.IdObjet" class='ButtonAjoute'>Buy me</button>

                </td>
            </tr>
        }

    </table>


    <script>
        var buttonsPannier = document.getElementsByClassName('ButtonAjoute');
        /*var id=buttonPannier['id'];*/
        for (var i = 0; i < buttonsPannier.length; i++) {
            var buttonPannier = buttonsPannier[i];
            buttonPannier.addEventListener("click", function (event) {

                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4) {
                        if (xhr.status == 200) {
                            console.log(xhr.responseText);
                            var reponse = JSON.parse(xhr.responseText);
                            console.log(reponse);
                            console.log(typeof (reponse));
                        }
                        else {
                            console.log(xhr.reponseText);
                        }
                    }
                };
                console.log(event.target.getAttribute('data-id'));
                xhr.open('POST', "/Object/traitementAjax", true);
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.send("valeurId=" + event.target.getAttribute('data-id'));
            });
        }

    </script>



