﻿@model magasin.web.Models.ObjectCategorie

@using magasin.web.Infrastructure

@{
    ViewBag.Title = "CreerObjetPHOTO";
}


<h2>CreerObjet</h2>


@using (Html.BeginForm("CreerObjetPHOTO", "Object", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Object</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Obj.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Obj.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Obj.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Obj.Prix, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Obj.Prix, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Obj.Prix, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Obj.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-10">
                    <input type="file" id="file" name="file" />
           @Html.ValidationMessageFor(model => model.Obj.Photo, "", new { @class = "text-danger" })        
                </div>

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Obj.Categorie.NomCategorie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditSelectNomCategorie(Model.Cats, Model.Obj.IdObjet)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "AfficherObjet")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
